<!DOCTYPE html>  
{% load static %}
<html lang="en">  
<head>  
    <meta charset="UTF-8">  
    <title>Register</title>  
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css"> 
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script> 
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script> 
    <link rel="stylesheet" href="{% static 'css/all.css' %}">
</head>  
<body>  
    <form method="POST" class="post-form" action="#">  
    {% csrf_token %} 
        <div class="container">  
            <div class="form-group">
                <label for="CID" class="control-label col-sm-2" style="color:#FFECEC">ID</label>
                <div class="col-sm-10">
                    <input type="text" name="CID" value=""/>
                </div>
                <label for="Password" class="control-label col-sm-2" style="color:#FFECEC">Password</label>
                <div class="col-sm-10">
                    <input type="text" name="Password" value=""/>
                </div>
                <label for="Firstname" class="control-label col-sm-2" style="color:#FFECEC">First name</label>
                <div class="col-sm-10">
                    <input type="text" name="Firstname" value=""/>
                </div>
                <label for="Lastname" class="control-label col-sm-2" style="color:#FFECEC">Last name</label>
                <div class="col-sm-10">
                    <input type="text" name="Lastname" value=""/>
                </div>
                <label for="Gender" class="control-label col-sm-2" style="color:#FFECEC">Gender</label>
                <div class="col-sm-10">
                    <input type="text" name="Gender" value=""/>
                </div>
                <label for="BDate" class="control-label col-sm-2" style="color:#FFECEC">Birth Date</label>
                <div class="col-sm-10">
                    <input type="date" name="BDate" value=""/>
                </div>
                <label for="City" class="control-label col-sm-2" style="color:#FFECEC">City</label>
                <div class="col-sm-10">
                    <input type="text" name="City" value=""/>
                </div>
            </div> 
            <div class="form-group">
                <button type="submit" id="submitbutton" class="btn btn-default" style="color:#AE0000; font-weight: bold;">Submit</button> 
            </div>
        </div> 
    </form>
    <script>
        var button = document.getElementById("submitbutton");
        button.onclick = function() {
            alert("register successfully!")
        }
    </script>
</body>  
</html>