<!DOCTYPE html>
<html>
    <head>Welcome to 經原:) shopping website!</head>
	<body>
		<form name ="log in page" id="log in" action="#"> 
	    <div>
	    	<p>Don't have an account?</p>
	    	<p>No worries! Click here to get one <input type="button" name="register" value="register" onclick="callRegis();" ></p>
	    	<p>Already have an account?</p>
	    	<p>Log in and start your shopping journey! <input type="button" name="log in" value="log in" onclick="callOptFunc();" >
	    </div> 
	    </form>
		<!-- register (password, fstname, lastname, gender, bdate, address) -->
	    <!-- log_in (CID, password) -->
	</body>
</html>