<!DOCTYPE html>  
<html lang="en">  
<head>  
    <meta charset="UTF-8">  
    <title>Django Contact Form</title>  
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css"> 
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script> 
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script> 
</head>  
<body>  
    {% load widget_tweaks %}
    {% block content %}
    <form method="get">
        <div class="well">
            <h4 style="margin-top: 0">Filter</h4>
            <div class="row">
                <div class="form-group col-sm-4 col-md-3">
                    {{ filter.form.SName.label_tag }}
                    {% render_field filter.form.SName class="form-control" %}
                </div>
            </div>
            <button type="submit" class="btn btn-primary">
                <span class="glyphicon glyphicon-search"></span> Search
            </button>
        </div>
    </form>
    <table class="table table-bordered">
        <thead>
        <tr>
            <th>Sname</th>
        </tr>
        </thead>
        <tbody>
        {% for supplier in filter.qs %}
            <tr>
                <td>{{ supplier.SName }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    {% endblock %}
</body>  
</html>


















