<!DOCTYPE html> 
{% load static %} 
<html lang="en">  
<head>  
    <meta charset="UTF-8">  
    <title>Django Contact Form</title>  
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css"> 
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script> 
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script> 
    <link rel="stylesheet" href="{% static 'css/all.css' %}">
    <link rel="stylesheet" href="{% static 'css/showUpdate.css' %}">
</head>  
<body>  
    <table align="center" border="3" width="800">
        <caption style="font-weight: bold; font-size: 30px; color: #642100;">Update Result</caption>
        <tr style="background-color: #642100;">
            <th style="height:50px;width:200px;color: #FFE6D9;padding-left: 40px; padding-top:10px;"> Order ID </th>
            <th style="height:50px;width:200px;color: #FFE6D9;padding-left: 40px; padding-top:10px;"> Order status </th>
            <th style="height:50px;width:200px;color: #FFE6D9;padding-left: 40px; padding-top:10px;"> Order date </th>
            <th style="height:50px;width:200px;color: #FFE6D9;padding-left: 40px; padding-top:10px;"> Cart </th>
            <th style="height:50px;width:200px;color: #FFE6D9;padding-left: 40px; padding-top:10px;"> Quantity </th>
            <th style="height:50px;width:200px;color: #FFE6D9;padding-left: 40px; padding-top:10px;"> Transaction Price </th>
        </tr>
        <tr style="background-color: #FFD2D2;">
            <td style="height:70px;width:200px;color: #D94600;padding-left: 40px; padding-top:10px;"> {{ order.OrderID }} </td> 	
            <td style="height:70px;width:200px;color: #D94600;padding-left: 40px; padding-top:10px;"> {{ order.order_status }} </td>
            <td style="height:70px;width:200px;color: #D94600;padding-left: 40px; padding-top:10px;"> {{ order.order_date }} </td>
            <td style="height:70px;width:200px;color: #D94600;padding-left: 40px; padding-top:10px;"> {{ order.cart }} </td>
            <td style="height:70px;width:200px;color: #D94600;padding-left: 40px; padding-top:10px;"> {{ order.quantity }} </td>
            <td style="height:70px;width:200px;color: #D94600;padding-left: 40px; padding-top:10px;"> {{ order.transaction_price }} </td>
        </tr>
    </table>
     
    
</body>  
</html>