<!DOCTYPE html>  
{% load static %}
<html lang="en">  
<head>  
    <meta charset="UTF-8">  
    <title>Django Contact Form</title>  
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css"> 
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script> 
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script> 
    <link rel="stylesheet" href="{% static 'css/all.css' %}">
</head>  
<body>  
    <form method="POST"> 
        {% csrf_token %} 
        <div style="font-size: 20px;margin-bottom: 20px;">
            {{form.as_p}} 
        </div>
        <input type="submit" value="Update" style="font-size: 20px;font-weight:bold;padding:5px; margin-bottom:10px;"> <br>
        
        <input type="button" class="btn btn-default" value="Cancel" style="color:#AE0000; font-weight: bold;" onclick="javascript:location.href='http://127.0.0.1:8000/employee'">
    </form>
</body>  
</html>